page-add-note {
    button {
        font-size: 20px !important;
        padding: 25px !important;
    }

    ion-item {
        margin: 10px !important;
    }

    ion-label {
        letter-spacing: 1px !important;
        word-spacing: 3px !important;
        font-size: 24px !important;
        font-weight: bold; 
        line-height: 1.5 !important;
        color: #000;
    }

    ion-input {
        letter-spacing: 1px !important;
        word-spacing: 3px !important;
        font-size: 24px !important;
        font-weight: bold; 
        line-height: 1.5 !important;
        color: #000;
    }
}
