page-item-details {
    ion-card-header {
        text-align: center;
        letter-spacing: 1px !important;
        word-spacing: 3px !important;
        font-size: 24px !important;
        font-weight: bold; 
        line-height: 1.5 !important;
        color: #000;
    }

    ion-card-content {
        
        letter-spacing: 1px !important;
        word-spacing: 3px !important;
        font-size: 40px !important;
        font-weight: bold; 
        line-height: 1.5 !important;
        color: #000;
    }

    a {
        font-size: 20px !important;
        padding: 10px !important;
        border-radius: 10% !important;
    }

    button {
        font-size: 20px !important;
        padding: 25px !important;
        border-radius: 10% !important;
    }

    p {
        text-align: left;
        letter-spacing: 1px !important;
        word-spacing: 3px !important;
        font-size: 30px !important;
        font-weight: bold; 
        line-height: 1.5 !important;
        color: #000;
    }

    ion-input {
        text-align: center !important;
    }
}
