<ion-header>
  <ion-navbar color="danger">
    <ion-title>Contact Details</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="editContact($event, contact)">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
      <ion-card-header>
          <strong>{{contact.firstname}} {{contact.lastname}}</strong><hr>
      </ion-card-header>

      <ion-card-content *ngIf="editState == false">
          <strong class="heading">Contact no: </strong> {{contact.phoneno}}
          <hr>
          <br><strong class="heading">Email id: </strong> {{contact.emailid}}
          <hr>
          <br><strong class="heading">Address: </strong> {{contact.address}}
          <br><strong class="heading">City: </strong> {{contact.city}}
          <br><strong class="heading">Location: </strong> {{contact.location}}
          <hr>
          <br><strong class="heading">Birthdate: </strong> {{contact.birthday}}
          <hr>
          <br><strong class="heading">Note: </strong> {{contact.note}}
          <hr>
          <br>
          <a ion-button color="primary" href="tel:{{contact.phoneno}}"><ion-icon name="call"></ion-icon></a>
          <a ion-button color="secondary" href="https://api.whatsapp.com/send?phone={{contact.phoneno}}"><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a ion-button color="vibrant" href="mailto:{{contact.email}}" target="_top"><ion-icon name="mail"></ion-icon></a>
          <a ion-button color="danger" (click)="deleteContact(contact._id.$oid)"><ion-icon name="trash"></ion-icon></a>
      </ion-card-content>

      <ion-card-content *ngIf="editState == true && contactToEdit._id.$oid == contact._id.$oid" padding>

        <form (submit)="updateContact(contactToEdit)">
          <ion-list>
            <ion-item>
                <ion-label floating>Firstname</ion-label>
                <ion-input [(ngModel)]="contactToEdit.firstname" name="firstname" type="text"></ion-input>
              </ion-item>
      
            <ion-item>
              <ion-label floating>Lastname</ion-label>
              <ion-input [(ngModel)]="contactToEdit.lastname" name="lastname" type="text"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label floating>Phone no</ion-label>
              <ion-input [(ngModel)]="contactToEdit.phoneno" name="phoneno" type="number"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label floating>Email-id</ion-label>
              <ion-input [(ngModel)]="contactToEdit.emailid" name="emailid" type="email"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label floating>Address</ion-label>
              <ion-input [(ngModel)]="contactToEdit.address" name="address" type="text"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label floating>City</ion-label>
              <ion-input [(ngModel)]="contactToEdit.city" name="city" type="text"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label floating>Location</ion-label>
              <ion-input [(ngModel)]="contactToEdit.location" name="location" type="text"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label floating>Birthday</ion-label>
              <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="contactToEdit.birthday" name="birthday"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label floating>Note</ion-label>
              <ion-textarea [(ngModel)]="contactToEdit.note" name="note"></ion-textarea>
            </ion-item>
                 
            <ion-item>
              <button ion-button type="submit" block>Update Contact</button>
            </ion-item>
          </ion-list>
        </form>
      </ion-card-content>
  </ion-card>
</ion-content>
