<!--
  Generated template for the NoteDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>   
    <ion-navbar color="danger">
    <ion-title>Note Details</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="editNote($event, note)">
                <ion-icon name="md-create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>    
</ion-header>
    
    
    <ion-content padding>
        <ion-card>
            <ion-card-header>
                <strong>Title: {{note.title}}</strong><br>
                <strong>Date: {{note.myDate}}</strong>
            </ion-card-header>
            <ion-card-content *ngIf="editState == false">
                <p>Note: {{note.note}}</p>
                
                <br><br><br>
                <button ion-button color="danger" (click)="deleteNote(note._id.$oid)">Delete Note</button>
            </ion-card-content>

            <ion-card-content *ngIf="editState == true && noteToEdit._id.$oid == note._id.$oid">
                <ion-list no-lines>
                            
                    <ion-item>
                        <ion-label floating>Title</ion-label>
                        <ion-input [(ngModel)]="noteToEdit.title" name="title" type="text" required></ion-input>
                    </ion-item>
                
                    <ion-item>
                        <ion-label floating>Note</ion-label>
                        <ion-textarea [(ngModel)]="noteToEdit.note" name="note" required></ion-textarea>
                    </ion-item>
                    
                    <ion-item>
                        <ion-label floating>Date</ion-label>
                        <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="noteToEdit.myDate" name="myDate" required></ion-datetime>
                    </ion-item>
                </ion-list>
                <button ion-button full color="secondary" (click)="updateNote(noteToEdit)">Update</button>
            </ion-card-content>
        </ion-card>
      </ion-content>
